<div class="col-xs-3">
  <div class="panel panel-default">
    <div class="panel-heading"><a data-toggle="collapse" href="#<%= category.name%>Panel"><%= category.name.toUpperCase()%></a></div>
    <div class="panel-body collapse in" id="<%= category.name%>Panel">
      <table class="table table-hover table-condensed">
        <col width="5%">
        <col width="30%">
        <col width="15%">
        <col width="25%">
        <col width="25%">
        <tr>
          <th>Table</th>
          <th>Menu Item</th>
          <th>State</th>
          <th>Timestamp</th>
          <th>Operations</th>
        </tr>

        <% category.data.forEach(function(datum){ %>
          <tr>
            <td><%= datum.table %></td>
            <td><%= datum.menuItem.name %></td>
            <td><%= datum.state %></td>
            <td><%= datum.menuItem.createdAt %></td>
          </tr>
        <% })%>

      </table>
    </div>
  </div>

</div>
